# ignored folders
datasets/*
experiments/*
results/*
tb_logger/*
wandb/*
visual/*

*.DS_Store
.idea

# ignored files
version.py

# ignored files with suffix
*.html
*.gif
*.pth
*.zip

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log

# pyenv
.python-version
